@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Pretendard", sans-serif;
}
body{
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container, .number-fact{
    background-color: gray;
    padding: 20px;
    width: 450px;
    /* font-size: 1rem; */
    border-radius: 8px;
    color: #333333;
}
.number-fact{
    margin-top: 20px;
}

input[type="number"]{
    width: 70%;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #bfbfbf;
    padding-left: 10px;
    color: blue;
}

/* The ::placeholder CSS pseudo-element represents the placeholder text in an <input> or <textarea> element. */
input[type="number"]::placeholder{
    font-size: 1.5rem;
    font-weight: 400;
}
button{
    width: 25%;
    background-color: blue;
    color: white;
    border: none;
    height: 40px;
    font-size: 1.5rem;
    outline: none;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;

}